/* DOM properties */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');


body{
  background-color: #fefae0;
  vertical-align: baseline;
  font-weight: bold;

}
h1{
font-family: 'Playfair Display', serif;
font-size: 2.6em;
color: #839b97;

}
/* nav bar */

p{
  font-size: 1.2em;
}

:root {
  --off-white: #5aa469;
  /* data table colors */
  --rft-main-color: #111d13;
  --rft-button-color: #111d13;
  --rft-even-row-color: #fefae0;
}
.nav {
  background-color: var(--off-white);
  font-family: 'Noto Serif', serif;
  position: sticky;
  font-size: 18px;
  top: 0px;
  width: 100%;
  height: 80px;
  z-index: 1000;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}
.nav a{
  color: #fefae0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}
.nav-logo {
  height: 60px;
  width: 60px;
}

.nav-logo:hover {
  cursor: pointer;
}

.nav .nav-content {
  max-width: 70%;
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-item > .active {
    border-bottom: 1px solid #333;
}

.nav-item {
  display: inline;
  margin-left: 1rem;
  color: #111d13;
  font-weight: 600;;

}

.nav-item:hover {
  color: #f9f7cf;;
  cursor: pointer;
}

.section {
  border-top: 2px solid #111d13;
  font-family: 'Noto Serif', serif;
  color: #111d13;
  text-align: center;
}

.section-dark {
  font-family: 'Noto Serif', serif;
  background: #fefae0;
  color: #111d13;
  text-align: center;
}

.recharts-wrapper{
  margin: 0 0 0 0
}
#section1.subcontent3{
  font-style: italic;
  font-weight: bold;
  font-size: 1em;
  color: orange;
  padding: 1%;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
}

#section1.subcontent{
  font-style: italic;
  font-weight: bold;
  font-size: 1.6em;
  color: #8f384d;
  padding: 1%;
  font-family: 'Montserrat', sans-serif
}

#section2.other {
  width: 50%;
  margin: 0 0 0 0;
  left: 50%;
  position: absolute;
  font-weight: bold;
  font-size: 1.1em;
  color: green;

}
#section2.other2 {
  width: 50%;
  margin: 0 0 0 0;
  right: 50%;
  position: absolute;
  font-weight: bold;
  font-size: 1.1em;
  color: green;

}
#section2.subcontent3 {
  font-style: italic;
  font-weight: bold;
  font-size: 1.6em;
  color: #8f384d;
  padding: 1%;
  font-family: 'Montserrat', sans-serif

}
#section2.Subcontent {
  width: 400px;
  margin: 0 0 0 0;
  right: 0%;
  position: relative;

}
#section2.content {
  width: 90%;
  margin: 0 0 0 0;
  position: relative;
  right: 5%;
  display: inline-block;

}
#section3.content2 {
  font-style: italic;
  font-weight: bold;
  font-size: 1em;
  color: orange;
  padding: 1%;
  background-color: black;
  font-family: 'Montserrat', sans-serif;

}
#section4.subcontent2 {
  width: 400px;
  margin: 0 0 0 0;
  right: -60%;
  top: -80%;
  position: relative;
}

#section4.subcontent{
  margin: 0 0 0 0;
  position: relative;
}
#section4.placeholder {
   font-style: italic;
   font-weight: bold;
   font-size: 1.2em;
   color: #8f384d;
   font-family: 'Montserrat', sans-serif;
   text-align: left;
   background-color: white;
}

.pa{
  font-weight: bolder;
  font-size: 1.4em;

}
.section-content {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px;
}

.nav-element {
    margin: auto;
    max-width: 78px;
    height: 50px;
}
.section .title {
   background: #111d13;
   padding: 0 9px 4px;
   font-size: 14px;
   letter-spacing: .050em;
   font-weight: 600;
   color: #fefae0;
   margin: 0;
   display: inline-block;
   vertical-align: top;
   float: left;
   z-index: 1;
   position: relative;
}
/* us map tooltip */

svg {
  display: inline-block;
  vertical-align: middle;
}


#root {
  /* display: flex; */
  /* flex-direction: column; */
  align-items: stretch;
  justify-content: center;
  height: 100vh;
  padding: 0 50px 150px;
  /* text-align: center; */
  box-sizing: border-box;
}

/* npm map component */

path {
  pointer-events: all;
}
path:hover {
  opacity: 0.50;
  cursor: pointer;
}
/* Table component */

.Flex-table tr {
  color: #111d13;
  font-weight: 600;
  text-align: center;
}

.Flex-table thead {
  color: #111d13;
  --rft-main-color: #111d13;
  --rft-button-color: #111d13;
  --rft-even-row-color: #fefae0;
  text-align:center;
}
 /* carosel card; */

 .card{
   width: 100%;
   height: 700px;
   background: #333;
   color: #fefae0;
   font-weight: bold;
   font-size: 50px;
   margin: 0 20px;
   display: flex;
   justify-content: center;
   align-items: center;
 }
